/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
    /* some basic css resetting */
body {
    margin: 0; 
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
a { text-decoration: none; color:black; }


/* ==========HEADER============= */
/* ==========LOGO============= */
/* ==========NAVIGATION============= */


/* ==========MAIN BODY CONTENT============= */
/** Full screen Video 
 * ref: W3 Schools. How To Create a Fullscreen Video
 * src: https://www.w3schools.com/howto/howto_css_fullscreen_video.asp
*/

/* Style the video: 100% width and height to cover the entire window */

#videoWrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#heroVideo {
    position: sticky;
    right: 0;
    bottom: 0;
    object-fit: fill;
    max-height: 100vh;
    min-width: 100vw;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 100%;
    /* padding: 20px; */
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  /* Hero image that is faded in when video finishes playing. */
  #heroImage {
    position: absolute;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
  }



/* ==========SECTION 1 STYLING============= */

/* ==========SECTION 2 STYLING============= */

/* ==========SECTION 3 STYLING============= */

/* ==========SECTION 4 STYLING============= */


/* ==========FOOTER STYLIING============= */




/* ==========RESPONSIVE DESIGN============= */

/* ===== 5K RETINA MAC LABS: Media queries for Curtin Uni mac lab testing only ===== */
@media only screen and (max-width: 5120px) {

        
}

/* ===== DESKTOP HD: Media queries for most HD desktops ===== */
@media only screen and (max-width: 1920px) {
   
    
    
}

/* ===== SMALL DESKTOP: Media queries for laptop/small desktop ===== */
@media only screen and (max-width: 1366px) { 

      
    
}

/* ===== TABLET: Media queries for verticle and horizontal ===== */
@media only screen and (max-width: 1024px) { 

      
    
}

@media only screen and (max-width: 768px) { 

    
        
}

/* ===== MOBILE: Media queries for small mobile resolution. ===== */
@media only screen and (max-width: 640px) { 

    
        
}


@media only screen and (max-width: 360px) { 

            
        
}


