/* ==========BASIC UNIVERSAL STYLING & CLEAN UP============= */
/* some basic css resetting */
@font-face {
  font-family: Vrinda;
  src: url(../fonts/vrinda.ttf);
}

@font-face {
  font-family: Stfangsong;
  src: url(../fonts/chinese.stfangso.ttf);
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: Vrinda;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  color: #ffffff;
  font-size: 100px;
  font-family: Stfangsong;
}

p {
  color: #ffffff;
  font-size: 30px;
  font-family: Stfangsong;
}

/* Shoelace UI Customising the Base Colours */
:root {
  --sl-color-primary-50: rgb(251 249 246);
  --sl-color-primary-100: rgb(243 235 224);
  --sl-color-primary-200: rgb(234 220 200);
  --sl-color-primary-300: rgb(224 204 173);
  --sl-color-primary-400: rgb(210 182 138);
  --sl-color-primary-500: rgb(185 155 109);
  --sl-color-primary-600: rgb(153 128 90);
  --sl-color-primary-700: rgb(125 105 74);
  --sl-color-primary-800: rgb(103 87 61);
  --sl-color-primary-900: rgb(73 62 43);
  --sl-color-primary-950: rgb(45 38 26);
}


/* ==========HEADER============= */
header {
  position: absolute;
  left: 0;
  top: 0;
  height: 200px;
  z-index: 2;
  width:100%;
  text-align: center;
  
}
/* ==========LOGO============= */
#siteLogo {
  width: 20%;
  padding-top: 20px;
}
/* ==========NAVIGATION============= */
/* Add some content at the bottom of the video/page */
#sideBar {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  background: #50702d80;
  height: 100%;
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

#sideBar a:hover {
  color: #9b9898;
}

#sideBar .menuBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

sl-button.hamburgerMenuIcon::part(base) {
  position: fixed;
  background-color: transparent;
  font-size: 50px;
  left: 20px;
  top: 20px;
  width: 50px;;
  height: 50px;
  z-index: 10;
  border: none;
  color: #ffffff;
}

#menu-nav {
  list-style: none;
  font-family: Vrinda;
  margin-top: 100px;
  margin-left: 50px;
}

#closeNavBtn{
  display: none;
}


/* Fullpage JS Arrows */
.fp-controlArrow.fp-prev {
  left: 10;
  bottom: 500;
  border: none;
  width: 100px;
  height: 100px;
  background: url(../images/left.png) no-repeat;
  cursor: pointer;
  animation: jiggle 3s infinite alternate;
}
.fp-controlArrow.fp-next {
  right: 10;
  bottom: 500;
  border: none;
  width: 100px;
  height: 100px;
  background: url(../images/right.png) no-repeat;
  cursor: pointer;
  animation: jiggle 2s infinite alternate;
}

@keyframes jiggle {
  to { transform: scale(1.2); }
}


/* ==========MAIN BODY CONTENT============= */
/** Full screen Video 
 * ref: W3 Schools. How To Create a Fullscreen Video
 * src: https://www.w3schools.com/howto/howto_css_fullscreen_video.asp
*/



#heroText {
  position: relative;
  margin: 0;
  height: 100vh;
  right: 0;
  top: 50%;
  z-index: 3;
  padding-right: 120px;
  margin-top: -60px;
}

#videoWrapper {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

/* Style the video: 100% width and height to cover the entire window */
#heroVideo {
  position: sticky;
  right: 0;
  bottom: 0;
  object-fit: fill;
  max-height: 100vh;
  min-width: 100vw;
  z-index: 1;
}

/* Style the buttons used to pause/play the video */
sl-button.pauseBtn::part(base) {
  /* padding: 10px; */
  border: none;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}

sl-button.pauseBtn::part(base):hover {
  background: rgba(221, 221, 221, 0.144);
}

sl-button#btmPauseBtn {
  position: fixed;
  background-color: #818181b4;
  left: 120px;
  bottom: 30px;
  width: 50px;;
  height: 50px;
  z-index: 10;
}

/* ==========ALL SECTIONS===================*/
/* Styling for major content sections */
section {
  display: flex;
  height: 75vh;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

article {
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  width: 50%;
  max-width: 50%;
  text-align: right;
}

.right {
  width: 48%;
  max-width: 50%;
  text-align: left;
}

article h1 {
  font-size: 30px;
  padding: 0;
}

article h2 {
  font-size: 30px;
  font-weight: bold;
  color: #f1f1f1;
  font-family: Vrinda;
}

.left h1 {
  text-align: right;
  margin-right: 10px;

}

.right h1 {
  text-align: left;
  margin-left: 10px;
}

article p {
  padding: 0;
  font-size: 1.5em;
}

.italic {
  font-style: italic;
  color: rgb(196, 86, 23);
}

.flexContainer {
  display: flex;
}


sl-divider {
  --color: rgb(194, 190, 189);
  --width: 2px;
}

.divider {
  margin-top: auto;
  height: 75%;
  margin-bottom: auto;
}


/* ==========SECTION 1 STYLING============= */
#navPauseBtn {
  position: fixed;
  background-color: #818181b4;
  left: 20px;
  bottom: 30px;
  z-index: 10;
}

#home {
  /* Background Image from Unspalsh - Tim Foster */
  background-image: url("../images/tim-foster-Wgp_jiFyfxI-unsplash.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Animation for scrolling text */
@keyframes scrollIn {
  0%   { 
  transform: translateY(200%); 		
  }
  100% { 
  transform: translateY(0%); 
  }
 }

#heroText h1 {
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
  /* Apply animation to this element */	
  animation: scrollIn 5s ease-in forwards;
}

#heroText p {
  text-align: right;
  margin-top: 0;
  /* Apply animation to this element */	
  animation: scrollIn 5s ease-in forwards;
}
/* ==========SECTION 2 STYLING============= */
/* Image Carousel (From Splide Library) */
.splide__slide {
  width: 100%;
  height: 100%;
}

.splide__slide img {
  width: 100%;
  height: 100%;
}

.splide__slide img:hover {
  cursor: pointer;
}

.splide {
  margin-top: 70px;
}

#overlayContainer{
  display: flex;
  width: 70vw;
  height: 70vh;
  max-width: 70vw;
  max-height: 70vh;
  overflow: hidden;
}

#overlayContainer img {
  width: 80%;
  overflow: hidden;
}

#overlayContainer p {
  padding:15px;
  color: #19240e80;
  max-width: 20%;
}
/* ==========SECTION 3 STYLING============= */
/* Tab Group Stying for packages */
sl-tab-group {
  --indicator-color: #ffffff;
  --track-color: #ffffff;
}

.tabHeading {
  font-size: 25px;
}

#packagesWrapper p {
  width: 100%;
  color: #CBAA77;
}

/* ==========SECTION 4 STYLING============= */


/* ==========FOOTER STYLIING============= */




/* ==========RESPONSIVE DESIGN============= */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  
  p {
    font-size: 30px;
  }
  
  #videoWrapper {
    display: none;
  }

  .pauseBtn {
    display: none;
  }

/* Fullpage JS Arrows */
.fp-controlArrow.fp-prev {
  left: 20;
  width: 100px;
  height: 100px;
}
.fp-controlArrow.fp-next {
  right: 20;
  height: 100px;
}

#siteLogo {
  width: 40%;
  padding-top: 10px;
}

#heroText {
  margin-top: -30px;
}

}

